.botonVolver {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #45484b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  font-family: 'cursive';
}

.botonVolver:hover {
  background-color: #000000;
}